*{
    margin: 0;
    padding: 0;
}

.principalContainerLogin{
    width: 100%;
    height: 100vh;

}

.containerLoginItems{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

.childContainer{
    padding-top: 1rem;
    display: flex;
    flex-direction:column;
    gap: 1rem;
}

            
.formContainer{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}

.loginLayoutContainer{
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    background-color: white;
}

.rememberandforgotContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items: center;
}

.registerContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap:0.5rem
}


.LoginImage{
    display: none;

}



/** MEDIDAS PARA PC**/

@media screen and (min-width: 1020px) {

    .containerLoginImage{
        width: 50%;
    }

    .containerLoginItems{
        width: 50%;
    }

    .principalContainerLogin{
    width: 100%;
    height: 100vh;
    background-color: rgb(244, 244, 244);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

    }

    .containerLoginImage{
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .LoginImage{
    display: flex;
    width: 30rem;
    height: 30rem;

    }

    .rememberandforgotContainer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
    }

    .loginLayoutContainer{
        background-color: white !important;
        margin-top: 5rem !important;
        margin-bottom: 5rem !important ;
    }
}

@media screen and (min-width: 1200px)  {
    .containerLoginImage{
        width: 50%;
    }
    
    .containerLoginItems{
        width: 50%;
    }


    .loginLayoutContainer{
        padding-top: 2.5rem !important;
        padding-bottom: 2.5rem !important;
        padding-left: 5rem !important;
        padding-right: 5rem !important;
        background-color: white !important;

    }

    .rememberandforgotContainer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
    }

    .LoginImage{
        display: flex;
        width: 40rem;
        height: 40rem;
    
        }
}