.document-history-page {
  background-color: #f5f5f5;
  min-height: 100vh; /* O usa height: 100vh si no tienes contenido dinámico */
  width: 100%;
  display: flex; /* Opcional: si quieres centrar elementos hijos */
  flex-direction: column;
  }
  
  .page-content {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .page-title {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.87);
    margin: 0px 0px 0px 0px;
  }

  .title-box{
    margin: 0px 0px 0px 0px;
    display: flex;
    align-Items: center;
    justify-content: space-between;
  }
  
  .filter-icon {
    color: rgba(0, 0, 0, 0.54);
  }
  
  .filter-icon:hover {
    color: rgba(0, 0, 0, 0.87);
  }